.editor {
    height: 100vh;
    width: 100%;
    text-align: left;
    flex: 2;
    overflow-x: auto;
}

.cm-editor { height: 100% }
.cm-scroller { overflow: auto }
.cm-link {
    text-decoration: underline;
}
.cm-url {
    color: blue;
    text-decoration: underline;
}

.cm-url:hover {
    cursor: pointer;
}